@import './utils/vars';
@import './components/modalbackground';
@import './components/modal';
@import './components/form';
@import './components/xbutton';
@import './components/header';
@import './components/logo';
@import './components/navigation';
@import './components/address';
@import './components/effsolutions';
@import './components/placeholder';
@import './components/ourservices';
@import './components/ourteam';
@import './components/teammember';
@import './components/socials';
@import './components/ourClients';
@import './components/client';
@import './components/footer';
@import './components/newsletter';
@import './components/buttons';
@import './components/portfolio';
@import './components/portfolio-example';
