.effsolutions {
  background-image: linear-gradient(var(--color-background), var(--color-background)),
    url(../images/banners/backgroundMobile@1.jpg);
  max-width: 30rem;
  margin: 0 auto;
  background-size: cover;

  &__section {
    height: 25rem;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__title {
    font-size: 1.625rem;
    line-height: 1.61;
    font-weight: 900;
    color: var(--color-white);
    width: 22.8125rem;
    text-transform: uppercase;
    padding-bottom: 1.875rem;
    letter-spacing: 0.1em;
    font-style: normal;
  }

  &__button {
    display: block;
    font-size: 1rem;
    line-height: 1.875;
    color: var(--color-white);
    background-color: var(--color-blue);
    font-weight: 700;
    border-radius: 0.25rem;
    border-color: var(--color-blue);
    width: 12.4375rem;
    padding: 0.625rem 0;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .effsolutions {
    max-width: 48rem;
    background-image: linear-gradient(var(--color-background), var(--color-background)),
      url(../images/banners/backgroundTablet@1.jpg);
  }

  .address {
    flex-direction: column;
    gap: 0.6rem;
  }
}

@media (min-width: 1200px) {
  .effsolutions {
    max-width: 100rem;
    height: 37.5rem;
    background-image: linear-gradient(var(--color-background), var(--color-background)),
      url(../images/banners/backgroundDesktop@1.jpg);
  }

  .effsolutions__title {
    font-size: 2.75rem;
    line-height: 1.36;
    width: 43.5rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) and (min-device-pixel-ratio: 2),
  screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 192dpi),
  screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 2dppx) {
  .effsolutions {
    background-image: linear-gradient(var(--color-background), var(--color-background)),
      url(../images/banners/backgroundTablet@2.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2),
  screen and (min-width: 1200px) and (min-resolution: 192dpi),
  screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .effsolutions {
    background-image: linear-gradient(var(--color-background), var(--color-background)),
      url(../images/banners/backgroundDesktop@2.jpg);
  }
}

@media (max-width: 767px),
  screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .effsolutions {
    background-image: linear-gradient(var(--color-background), var(--color-background)),
      url(../images/banners/backgroundMobile@2.jpg);
  }
}
