.logo {
  font-family: Raleway;
  font-size: 0;
  line-height: 1.17;
  color: #000;
  font-weight: 700;

  &__web {
    color: var(--color-blue);
    display: inline-block;
    font-size: 1.5rem;
  }

  &--whitefont {
    color: var(--color-white);
  }

  &__span {
    display: inline-block;
    font-size: 1.5rem;
  }
}

@media (min-width: 1200px) {
  .logo__web,
  .logo__span {
    line-height: 1.19;
    font-size: 1.625rem;
  }
}
