.modalbackground {
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  background-color: var(--color-black4);
  position: fixed;
  z-index: 1;
  transition-property: visibility, opacity, transform;
  transform: translateX(-50%) translateY(-50%) scale(1);
  visibility: visible;
  display: block;
  border-radius: 0.25rem;
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  transform: translateX(-50%) translateY(-50%) scale(0);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
