.ourClients {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 1.17;
  }

  &__section {
    display: flex;
    gap: 1.875rem;
    fill: var(--color-grey4);
    padding-top: 3.125rem;
  }

  @extend .section;

  @extend .container;
}
