.ourservices {
  padding-bottom: 5.875rem;
  @extend .container;

  &__title {
    font-size: 2.25rem;
    line-height: 1.17;
    font-weight: 700;
    padding-bottom: 3.125rem;
    text-align: center;
  }

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  &__comment {
    position: absolute;
    color: var(--color-white);
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 1.14;
    letter-spacing: 0.03em;
    padding: 1.6875rem 0;
    text-align: center;
    white-space: nowrap;
    background-color: var(--color-grey6);
    width: 100%;
  }
}
