.xbutton {
  padding: 0.5rem;
  position: absolute;
  right: 0.1rem;

  &__body {
    padding: 0.25rem 0.3125rem 0.125rem;
    border-radius: 50%;
    border: 1px solid var(--color-black4);
  }

  &__button {
    font-size: 0.875rem;
    line-height: 1;
    background-color: var(--color-white);
    border: 0;
    padding-top: 0.125rem;
    cursor: pointer;
  }

  &__icon {
    color: inherit;
    fill: var(--color-black3);
    border: 0;
    background-color: var(--color-white);
    margin: 0;
  }
}
