:root {
  --color-grey1: #eeeeee;
  --color-grey2: #757575;
  --color-grey3: #2f303a;
  --color-grey4: #afb1b8;
  --color-grey5: #ffffff1a;
  --color-grey6: #2f303acc;
  --color-grey7: #21212133;
  --color-grey8: #ffffff99;
  --color-grey9: #ffffff4d;
  --color-blue: #2196f3;
  --color-black: #212121;
  --color-black2: #0000001f;
  --color-black3: #000000;
  --color-black4: #0000001a;
  --color-black5: #00000021;
  --color-black6: #00000033;
  --color-black6: #00000026;
  --color-black7: #00000029;
  --color-white: #fff;
  --color-white2: #f5f4fa;
  --color-white3: #ececec;
  --color-background: #2f303a66;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--color-black);
}

ul {
  list-style-type: none;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  width: 75rem;
  margin: 0 auto;
}

.section {
  padding: 5.875rem 0;
}

.transition {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.highlight:focus,
.highlight:hover,
.address-grey:focus,
.address-grey:hover {
  color: var(--color-blue);
}

.button {
  cursor: pointer;
}
